
poetry.lock
pyproject
.breakpoints

#.config/
pip.conf
config

#.upm/
store

#__pycache__/
configure.cpython-38.pyc
keys.cpython-38.pyc

#venv/
pyvenv
share/jupyter/nbextensions/nbextensions/index 
share/jupyter/nbextensions/nbextensions/index.js.map
etc
lib/python3.8/site-packages
bin

#.cache
pypoetry/pypi
